@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<!DOCTYPE html>
<!-- Coding by CodingLab | www.codinglabweb.com-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Responsive Login and Signup Form </title>

    <!-- CSS -->
    <link rel="stylesheet" href="~/css/RegiterScript.css">
    <link rel="stylesheet" href="~/css/StyleSheet.css">


    <!-- Boxicons CSS -->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>

</head>
<body>
    <!-- Signup Form -->
    <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">

        <div class="form">
            <div class="title">Welcome</div>
            <div class="subtitle">Let's create your account!</div>
            <div class="input-container ic1">
                <input asp-for="Input.Email" id="Email" class="input" type="text" placeholder=" " />
                <span asp-validation-for="Input.Email" class="text-danger"></span>

                <div class="cut"></div>
                <label for="firstname" class="placeholder">First name</label>
            </div>
            <div class="input-container ic2">
                <input asp-for="Input.Password" id="Password" class="input" type="text" placeholder=" " />
                <span asp-validation-for="Input.Password" class="text-danger"></span>

                <div class="cut"></div>
                <label for="Password" class="placeholder">Password</label>
            </div>
            <div class="input-container ic2">
                <input asp-for="Input.ConfirmPassword" id="ConfirmPassword" class="input" type="text" placeholder=" " />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>

                <div class="cut cut-short"></div>
                <label for="ConfirmPassword" class="placeholder">ConfirmPassword <label/>
            </div>
            <div class="form-link">
                <span>Already have an account? <a asp-area="Identity" asp-page="/Account/Login">Login</a></span>
            </div>
            <button id="registerSubmit" type="text" class="submit">Register</button>
        </div>
    </form>
    <script src="~/js/script.js"></script>
</body>
</html>
@*<div class="row">
    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Create a new account.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.Password"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.ConfirmPassword"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
        </form>
    </div>
 <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use another service to register.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                            about setting up this ASP.NET application to support logging in via external services</a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>
    @section Scripts {
    <partial name="_ValidationScriptsPartial" />
    }
*@
