@model IEnumerable<ShopShoes.Models.EF.Product>

@{
    ViewData["Title"] = "Product";
}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/StyleSheet.css">
    <link rel="stylesheet" href="~/css/ProductIndex.css">

</head>
<body>

    <div class="container">
        <h1>Product Show</h1>
        @foreach (var product in Model)
        {

            <div class="product">
                <div class="field">
                    <label for="id">ID:</label>
                    <span id="productid">@product.Id</span>
                </div>
                <div class="field">
                    <label for="productName">Name:</label>
                    <span id="productName">@product.Name</span>
                </div>
                <div class="field">
                    <label for="productPrice">Price:</label>
                    <span id="productPrice">@product.Price</span>
                </div>
                <div class="field">
                    <label for="productAmount">Amount:</label>
                    <span id="productAmount">@product.Amount</span>
                </div>
                <div class="field">
                    <label for="productDateCreate">DateCreate:</label>
                    <span id="productDateCreate">@product.DateCreate.ToString("dd-MM-yyyy")</span>
                </div>
                <div class="field">
                    <label for="Status">Status:</label>
                    <span id="productStatus">@product.Status</span>

                </div>
                <div class="field">
                    <label for="Detail"></label>
                    <button type="submit"><a asp-action="Edit" asp-route-id="@product.Id">Edit</a></button>

                </div>
            </div>
        }
    </div>
</body>
</html>
